@font-face {
  font-family: "Noto";
  src: url("../fonts/NotoSansJP-VariableFont_wght.ttf");
}

:root {
  --dom-color: #f0f8f8;
  --sec-color: #0d5545;
  --accent-color: #c0842a;
  --accent-color-hover: #4e88b4;

  --font-color: #404040;

  /* --default-color: #0d5545;
  --default-dark-color: rgb(39, 42, 45);
  --secondary-color: #ecfbf0; */
  --default-font: "Noto";

  /* --btn-bg: #478979;
  --btn-bg-hover: #236561; */
}

body {
  font-family: "Noto";
}

/* COMPONENTS DESIGN */

section {
  padding: 4em 1em 5em 1em;
}

.btn-default {
  display: inline-block;
  padding: 0.8em 1.5em;
  border: 2px solid var(--btn-bg);
  border-radius: 10px;
  width: 7em;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: var(--default-color);
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn-opaque{
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: white;
}

.btn-opaque:hover{
  background-color: var(--accent-color-hover);
  border-color: var(--accent-color-hover);
}

.section--img {
  height: auto;
  width: 36em;
}

.hero-badge {
  height: fit-content;
  width: fit-content;
  font-size: 10px;
  padding: 0.5em 2em;
  color: rgb(106, 83, 29);
  background-color: rgb(245, 209, 142);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5em;
  font-weight: bold;
}

.hero-section .hero-header {
  font-size: clamp(2.5rem, -0.875rem + 5.333vw, 4rem);
  font-weight: 600;
  font-family: var(--default-font);
  color: var(--sec-color);
  margin-top: 0;
}

.hero-section .hero-subheader {
  font-size: 26px;
  /* margin: 1em 0; */
  color: var(--font-color);
  opacity: .8;
  margin-top: 1em;
}

.section-heading {
  margin-bottom: 3em;
  color: var(--default-color);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.section-heading h2{
  font-weight: bold;
  color: var(--sec-color);
}

.section-heading span{
  font-size: 20px;
  color: var(--font-color);
  opacity: .8;
}
/* END OF COMPONENTS DESIGN */


/* NAVBAR DESIGN */
#page_navbar div:nth-child(2) {
  order: 1;
}

#page_navbar div:nth-child(3) {
  order: 3;
}

#page_navbar div:nth-child(4) {
  order: 2;
}

.page-navbar {
  /* border: 1px solid red; */
  position: fixed;
  width: 100%;
  z-index: 9999;
  padding: 0.7em;
}

.page-navbar.scrolled {
  background-color: #f1f3f6 !important;
  transition: background-color 200ms linear;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.page-navbar .navbar {
  padding: 0.8em 1em;
  width: min(80rem, 90%);
  background-color: transparent !important;
}

.page-navbar .navbar-collapse {
  justify-content: center;
  padding: 0.8em;
}

.page-navbar .nav-link {
  border-bottom: 2px solid transparent;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--sec-color);
}

.page-navbar .nav-link:hover {
  border-bottom-color: var(--btn-bg);
}

.navbar-brand img {
  height: 50px;
  width: 50px;
}

.navbar-brand span {
  font-weight: bold;
}

.page-navbar .navbar-nav>li.nav-item {
  margin: 0 0.3em;
  font-weight: bold;
}

.btn-login {
  border: none;
  box-shadow: none;
}

.btn-login:hover {
  text-decoration: underline;
}

/* END OF NAVBAR DESIGN */

/* HERO SECTION STYLE */
.hero-section {
  height: fit-content;
  /* width: 100vw; */
  background-color: var(--dom-color);
  background-image: url("../img/bg-section-1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 6em 1em 6em 1em;
}

.hero-section .btn-default{
  width: 12em;
}
/* END OF HERO-SECTION STYLE */

/* FEATURES SECTION */
.features-list {
  height: fit-content;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 2em;
}

.features-list__item {
  height: 25em;
  width: 22em;
  padding: 4em 3em;
  border-radius: 1em;
  margin: 1em;
}

.features-list__item .item--icon {
  height: auto;
  width: 80px;
  margin-bottom: 2em;
}

.features-list__item .item--title {
  font-weight: bold;
  text-align: center;
  color: var(--default-color);
  margin-bottom: 1em;
}

.features-list__item .item--desc {
  text-align: center;
}
/* END OF FEATURES SECTION */